<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
        <p>
            Today is: <span th:text="${today}" />
            <!-- <span th:with="df=#{date.format}" 
                                th:text="${#calendars.format(today,df)}">13 February 2011</span> -->
        </p>

        <p>Please select an option</p>
    <ol>
      <li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
      <!-- <li><a href="order/list.html" th:href="@{/order/list}">Order List</a></li>
      <li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a></li>
      <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li> -->
    </ol>
    </body>
</html>